.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  background-color: #fbfaf1;
  border-radius: 20px;
  width: 80%;
  height: 70%;
  padding: 3%;
  display: flex;
  flex-direction: row;
}

/* ------------------------------ */

.rouletteArea {
  flex: 1.1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.roulette {
  transition: all ease 1s;
  background-color: transparent;
}

.rouBtn {
  width: 200px;
  height: 50px;
  background-color: #d7e9f9;
  border: 0;
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: 0px 4px 0px #a0b7cd;
  position: relative;
}
.rouBtn:active {
  top: 4px;
  box-shadow: 0 0 #a0b7cd;
  background-color: #a0b7cd;
}
.rouBtn:hover {
  animation: jelly 0.5s;
}

@keyframes jelly {
  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

/* ------------------------------ */

.todolist {
  flex: 1;
  background-color: white;
  border-radius: 20px;
}

.input {
  margin-right: 10px;
  height: 30px;
  flex: 3;
  border-radius: 8px;
  border: 0;
  box-shadow: 0px 4px 8px -2px rgba(59, 61, 64, 0.15),
    0px 0px 0px 1px rgba(47, 49, 53, 0.08);
}

.todoBtn {
  width: 50px;
  flex: 0.5;
  height: 28px;
  background-color: #ede8e6;
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #aeacab;
  position: relative;
}
.todoBtn:active {
  top: 4px;
  box-shadow: 0 0 #aeacab;
  background-color: #aeacab;
}

/* ------------------------------ */

.task {
  list-style-type: none;
  margin-left: -10px;
}

input[type="checkbox"] {
  display: none;
}

/* 커스텀 체크박스 스타일링 */
.customCheckboxLabel {
  background: url("../Assets/unchecked.svg") no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
}

/* 체크된 상태일 때의 스타일 */
input[type="checkbox"]:checked + .customCheckboxLabel {
  background: url("../Assets/checked.svg") no-repeat;
  background-size: contain;
}

/* ------------------------------ */

.wrapper {
  display: flex;
  flex-direction: row;
  height: 28px;
}
.todo {
  margin: 0 10px;
  height: 7%;
}
.center {
  align-items: center;
  justify-content: center;
}
