body {
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1c5b99;
}

.content {
  background-color: #fbfaf1;
  border-radius: 20px;
  width: 80%;
  height: 70%;
  padding: 3%;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* ------------------------------ */

.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 50px solid #1c5b99;
  z-index: 1;
  position: absolute;
  top: -6%;
  left: 50%;
  transform: translateX(-50%);
}
.checkingRoulette {
  position: relative;
}

.rouletteArea {
  flex: 1.1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.roulette {
  transition: all ease 1s;
  background-color: transparent;
}

.rouBtn {
  width: 200px;
  height: 50px;
  background-color: #d7e9f9;
  border: 0;
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: 0px 4px 0px #a0b7cd;
  position: relative;
}
.rouBtn:active {
  top: 4px;
  box-shadow: 0 0 #a0b7cd;
  background-color: #a0b7cd;
}
.rouBtn:hover {
  animation: jelly 0.5s;
}

@keyframes jelly {
  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

/* ------------------------------ */

.todolist {
  flex: 1;
  background-color: white;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  margin-right: 10px;
  height: 30px;
  flex: 3;
  border-radius: 8px;
  border: 0;
  box-shadow: 0px 4px 8px -2px rgba(59, 61, 64, 0.15),
    0px 0px 0px 1px rgba(47, 49, 53, 0.08);
}

.todoBtn {
  width: 50px;
  flex: 0.5;
  height: 28px;
  background-color: #ede8e6;
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #aeacab;
  position: relative;
}
.todoBtn:active {
  top: 4px;
  box-shadow: 0 0 #aeacab;
  background-color: #aeacab;
}

/* ------------------------------ */
.taskArea {
  height: 100%;
  margin-top: 15px;
  overflow: scroll;
}

.task {
  list-style-type: none;
  margin-left: -10px;
}

input[type="checkbox"] {
  display: none;
}

/* 커스텀 체크박스 스타일링 */
.customCheckboxLabel {
  background: url("../Assets/unchecked.svg") no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
  margin-right: 8px;
}

/* 체크된 상태일 때의 스타일 */
input[type="checkbox"]:checked + .customCheckboxLabel {
  background: url("../Assets/checked.svg") no-repeat;
}

.taskText {
  margin-right: 8px;
}
.textChecked {
  margin-right: 8px;
  text-decoration: line-through;
  color: #aeacab;
}

/* ------------------------------ */

.logoArea {
  text-align: center;
  line-height: 5;
}
.titleBar {
  display: none;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.92);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  align-items: center;
  justify-content: center;
  height: 6%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* ------------------------------ */

.wrapper {
  display: flex;
  flex-direction: row;
  height: 28px;
}
.todo {
  margin: 0 10px;
  height: 7%;
}
.center {
  display: inline-block;
  vertical-align: middle;
}

/* ------------------------------
반응형 대응 코드 --------------------
*/
@media (max-width: 820px) {
  .container {
    height: 100vh;
  }
  .content {
    flex-direction: column;
    width: 85%;
    height: 92%;
    align-items: center;
    justify-content: center;
  }

  .rouletteArea {
    width: 90%;
  }
  .rouBtn {
    width: 150px;
    height: 40px;
    margin-bottom: 15%;
  }
  .triangle {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 40px solid #1c5b99;
  }

  .todolist {
    flex: 1;
    background-color: white;
    border-radius: 20px;
    width: 100%;
  }
  .taskArea {
    height: 30vh;
  }
}

@media (min-width: 480px) and (max-width: 820px) {
  .logoArea {
    display: none;
  }
  .titleBar {
    display: flex;
  }
}
